#pagina{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

#topo{
    text-align: center;
    color: rgb(41, 0, 80);
}
body{
    background-color: cadetblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}